<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Configuration</title>
        <link rel="icon" href="images/introlab_icon.png">
        
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default bg-primary navbar-fixed-top ">
                <div class="container-fluid"> 

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-logo" width="120" href="https://github.com/introlab/odas"><img src="images/introlab_icon.png"></a>
                        <a class="navbar-brand" width="120" href="https://github.com/introlab/odas"><span>ODAS</span></a>
                    </div>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='/'>Live Data</a></li>
                        <li><a href="/config">Configure</a></li>
                    </ul>
                </div>

                </div>
            </nav>

        <div class="container-fluid p-body">
            <div class="row">
                <div class="col-md-12">
                    <h1>Configuration</h1>
                    <p>Configuration interface coming soon</p>
                </div>
            </div>
        </div>
        
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <p class="col-xs-10 text-muted">ODAS platform web interface</p>
                    <a href="/legal" class="col-xs-2 text-right">Legal</a>
                </div>
            </div>
        </footer>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>